@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');




* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Sriracha", sans-serif;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 50px;
}

header h1 {
    font-family: "Passion One";
    font-size: 10vw;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
}

header p {
    font-family: "Passion One", Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

header p a, footer p a {
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: white;
}

header p a:hover, footer p a:hover {
    text-decoration: underline;
}

section {
  font-size: 4vw;
  padding: 10vh 30px;
}

section p {
  padding-bottom: 30px;
}


.background-section {
  background-color: black;
  color: white;
}


.section-1 {
  background: url('../imagens/background001.jpg') no-repeat center center fixed;
  background-size: cover;
}

.section-2 {
  background: url('../imagens/background002.jpg') no-repeat center center fixed;
  background-size: cover;
}


.background-section p {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.411);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}