@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#flex-section {
    background-color: rgb(207, 205, 205);
    height: 100%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;

}

#media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
}

#media-text .image {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding: 0px 40px;
}

.image img {
    height: 300px;
    margin: auto;
}


#text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#text-media .video {
    display: flex;
    justify-content: center;   
    flex: auto;
    padding: 0px 40px;
}

.video > iframe {
    flex: auto;
}

.text-block {   
    flex: 1 1 400px;
    text-align: justify;
}

.text-block h2 {
    margin-bottom: 20px;
}